<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="index.html">Inicio</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Reporte Animal #2311</strong></div>
      </div>
    </div>
  </div>  

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img [src]="dg01" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6">
          <h2 class="text-black">Puppy</h2>
          <p><strong class="text-primary h4">Encontrado hace dos semanas</strong></p>
          <p><strong class="text-secondary h4">Ubicación de hallazgo: Samanes 7</strong></p>

         <p>Fue rescatado en medio de un callejón, tenia una correa con su nombre, presentaba signos de desnutrición y su pelaje estaba muy sucio,
          fue rescatado por uno de nuestros brigadistas.
         </p>
         <p>
          Fue sometido a una operación de emergencia en su patita debido a que tenía una astilla de madera entre uno de sus deditos.
         </p>
          <p><a href="#" class="buy-now btn btn-sm btn-primary"> > Es mi mascota < </a></p>

        </div>
      </div>
    </div>
  </div>