<div class="site-section border-bottom" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6">
          <div class="block-16">
            <figure>
              <img [src]="banner01" alt="Image placeholder" class="img-fluid rounded">
            </figure>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
          
          
          <div class="site-section-heading pt-3 mb-4">
            <h2 class="text-black">Acerca de SaveMe!</h2>
          </div>
          <p>En la actualidad, la sociedad es cada vez más consciente del bienestar y la protección de los
            animales, especialmente aquellos en situación de riesgo que necesitan un hogar seguro y lleno de
            amor. A pesar de esta creciente conciencia, existe una brecha amplia entre la cantidad de animales
            que necesitan un hogar y la capacidad de las personas que están dispuestas a adoptar para encontrar
            y conectar con estos animales.
          </p>
          <p>Es en este escenario donde surge la iniciativa SaveMe™, un proyecto que busca ofrecer una
            plataforma digital que facilite la búsqueda y adopción de animales, permitiendo que las personas
            dispuestas a adoptar puedan localizar de manera eficiente a su futuro compañero de cuatro patas.</p>
          
          
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="site-section border-bottom" data-aos="fade">
    <div class="container">
      <div class="row justify-content-center mb-5">
        <div class="col-md-7 site-section-heading text-center pt-4">
          <h2>Equipo de SaveMe</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-2">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img [src]="gmedranda" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Gabriel Medranda</h3>
           
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img [src]="lsanchez" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Lina Sanchéz Alarcón</h3>
           
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img [src]="diego" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Diego Córdova Reyes</h3>
           
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img [src]="angelo" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Angelo Rubio Mero</h3>
           
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img [src]="adrian" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Adrián Vera Murillo</h3>
           
              </div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img [src]="ivan" alt="Image placeholder" class="mb-4">
                <h3 class="block-38-heading h4">Iván Merchán Murillo</h3>
           
              </div>
              
            </div>
          </div>
        </div>
      </div>




    </div>
  </div> -->